/* 

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700

*/

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 26%;
    background-color: #FFF;
    border-radius: 16px;
    padding: 1rem;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.description h1 {
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.description p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}